<div class="form-group">
    <label for="name">Name</label>
    <input required type="text" value="<%=pokemon.name %>" name="name" id="name" class="form-control">

</div>

<div class="form-group">
    <label for="url">Url</label>
    <input required type="text" value="<%=pokemon.url %>" name="url" id="url" class="form-control">

</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" value="<%= pokemon.description %>" class="form-control" ></textarea>

</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>