<header>
    <nav>
        <a href="/">Pokemon RP Test</a>
        <ul>
            <li><a href="/pokemon">Pokemon</a></li>
            <li><a href="/pokemon/new">Add Pokemon</a></li>
        </ul>
    </nav>
</header>